*{
    margin: 0;
}



body { 
     background-color:background: rgb(131,58,180);
     background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);;
}

#banner {
width: 100%;
}


h1 {
    color: rgb(209, 13, 13);
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

div {
    color: white;
    font-size: 35px;
    text-align: justify;
    width: 85%;
    margin: auto;
}